.search-box{
    margin-bottom:20px;
}

.search-box label{
    display:block;
    margin-bottom:8px;
    font-size:14px;
}

.search-box input{
    width:450px;
    padding:12px;
    border:1px solid #d6d6d6;
    outline:none;
}